<img class="img-fluid bg-white shadow-sm"
  src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/250px-Angular_full_color_logo.svg.png"
  alt="dsvsddvsdf">
<mat-nav-list dense class="mt-2">
  <h3 matSubheader>Home</h3>
  <a mat-list-item routerLink="/stock">
    <span mat-line><span class="mat-h4">Stock</span></span>
    <img matListAvatar class="img-icon" src="https://image.flaticon.com/icons/png/128/551/551486.png" alt="">
  </a>
  <a mat-list-item href="#">
    <span mat-line><span class="mat-h4">Shop</span></span>
    <img matListAvatar class="img-icon" src="https://image.flaticon.com/icons/png/128/551/551466.png" alt="">
  </a>
  <mat-divider class="mt-4"></mat-divider>
  <h3 matSubheader>Dashboard</h3>
  <a mat-list-item href="#">
    <span mat-line><span class="mat-h4">Stock</span></span>
    <img matListAvatar class="img-icon" src="https://image.flaticon.com/icons/png/128/551/551486.png" alt="">
  </a>
  <a mat-list-item href="#">
    <span mat-line><span class="mat-h4">Shop</span></span>
    <img matListAvatar class="img-icon" src="https://image.flaticon.com/icons/png/128/551/551466.png" alt="">
  </a>
</mat-nav-list>
